@{
    Layout = "~/Views/Shared/Full.Layout.cshtml";
}

@section Title {
精华系列
}

@section NavigationSerum{
selected
}

<div class="bellevues-page-block bellevues-page-block-list" style="background-image: url('@this.Href("~/Contents/Serum.jpg")');">
    <div style="height: 550px;">
        <div style="padding: 140px 340px 0 0; text-align: center;">
            <h1>倍丽芙: 美丽的风景</h1>
            <h2>Belle vues: Beautiful views</h2>
            <h2>
                源自瑞士, 纯净天然的专业护肤<br />
                让您成为每一个人眼中美丽的风景
            </h2>
            <h1>&nbsp;</h1>
            <h1>&nbsp;</h1>
            <h1>精华系列</h1>
            <h2>滴滴精华, 凝驻美丽</h2>
        </div>
    </div>
    <ul>
        <li style="border-bottom-color: #D03F42;"><a href="#@ProductAnchor.FaceWhitening">美白精华</a></li>
        <li style="border-bottom-color: #158AFF;"><a href="#@ProductAnchor.FaceMoisture">补水精华</a></li>
        <li style="border-bottom-color: #FFB900;"><a href="#@ProductAnchor.FaceFixing">修复精华</a></li>
        <li style="border-bottom-color: #8763BC;"><a href="#@ProductAnchor.FaceAntiWrinkle">抗皱精华</a></li>
        <li style="border-bottom-color: #30F0DC;"><a href="#@ProductAnchor.FaceOilControl">控油精华</a></li>
        <li style="border-bottom-color: #60BB25;"><a href="#@ProductAnchor.FaceAcneEliminating">抗痘精华</a></li>
        <li style="border-bottom-color: #FD8C8F;"><a href="#@ProductAnchor.FaceOilControl">舒缓眼精华</a></li>
        <li style="border-bottom-color: #83D0FE;"><a href="#@ProductAnchor.FaceAcneEliminating">抗皱眼精华</a></li>
    </ul>
</div>

<a id="@ProductAnchor.FaceWhitening"></a>
<div class="bellevues-page-block" style="height: 300px; background: url('@this.Href("~/Contents/SerumGeneral.jpg")');">
    <div style="padding: 40px 60px 0 410px;">
        <h1>玫瑰活氧<span style="color: #D03F42;">美白</span>精华</h1>
        <h2>蕴含多种植物精萃成分, 高效活能滋养肌肤细胞, 强化代谢功能, 迅速觖决肌肤因缺乏活力而引起的不适, 即使是首次使用, 肌肤亦可呈现出润泽白皙的自然效果.</h2>
        @*<a class="bellevues-page-buy-button" href="@Constants.SerumFaceWhitening" title="立即购买" target="_blank">立即购买</a>*@
    </div>
</div>

<a id="@ProductAnchor.FaceMoisture"></a>
<div class="bellevues-page-block" style="height: 300px; background: url('@this.Href("~/Contents/SerumGeneral.jpg")');">
    <div style="padding: 40px 60px 0 410px;">
        <h1>玫瑰活氧<span style="color: #158AFF;">补水</span>精华</h1>
        <h2>丰富的微量元素及瞬间锁水成分能迅速与细胞中的蛋白质有效结合, 提高细胞中的含氧质量, 从而提升肌肤的含水量和保水度, 激发细胞再生能力, 深度舒缓神经紧张, 达到良好的补水, 减压功效.</h2>
        <a class="bellevues-page-buy-button" href="@Constants.SerumFaceMoisture" title="立即购买" target="_blank">立即购买</a>
    </div>
</div>

<a id="@ProductAnchor.FaceFixing"></a>
<div class="bellevues-page-block" style="height: 300px; background: url('@this.Href("~/Contents/SerumGeneral.jpg")');">
    <div style="padding: 40px 60px 0 410px;">
        <h1>玫瑰活氧<span style="color: #FFB900;">修复</span>精华</h1>
        <h2>精萃多种天然有机植物精华, 深度修复细胞, 及时为肌肤提供深层的补水和营养输导功能, 促进细胞的新陈代谢, 增强细胞的自我修复与再生能力, 进而有效改善脆弱肌肤因受外界刺激而引起的不适现象, 使皮肤迅速恢复健康的状态.</h2>
        @*<a class="bellevues-page-buy-button" href="@Constants.SerumFaceFixing" title="立即购买" target="_blank">立即购买</a>*@
    </div>
</div>

<a id="@ProductAnchor.FaceAntiWrinkle"></a>
<div class="bellevues-page-block" style="height: 300px; background: url('@this.Href("~/Contents/SerumGeneral.jpg")');">
    <div style="padding: 40px 60px 0 410px;">
        <h1>玫瑰活氧<span style="color: #8763BC;">抗皱</span>精华</h1>
        <h2>深层滋养和调理细胞, 有效激活细胞的活化能力, 强化肌肤组织正常功能, 紧实细胞膜. 提高细胞内含水量, 以及辅肋抵抗紫外线, 迅速平抚面部细纹, 有效改善皱纹皮肤的干燥性, 使皮肤盈润柔亮富有活力.</h2>
        @*<a class="bellevues-page-buy-button" href="@Constants.SerumFaceAntiWrinkle" title="立即购买" target="_blank">立即购买</a>*@
    </div>
</div>

<a id="@ProductAnchor.FaceOilControl"></a>
<div class="bellevues-page-block" style="height: 300px; background: url('@this.Href("~/Contents/SerumGeneral.jpg")');">
    <div style="padding: 40px 60px 0 410px;">
        <h1>葡萄籽活氧<span style="color: #30F0DC;">控油</span>精华</h1>
        <h2>迅速减少肌肤多余的油脂分泌, 和降低暗疮与粉刺的发生率, 有效调控皮肤的PH值, 收敛毛孔, 镇静, 安抚肌肤, 改善因针清后的皮肤红症.</h2>
        @*<a class="bellevues-page-buy-button" href="@Constants.SerumFaceOilControl" title="立即购买" target="_blank">立即购买</a>*@
    </div>
</div>

<a id="@ProductAnchor.FaceAcneEliminating"></a>
<div class="bellevues-page-block" style="height: 300px; background: url('@this.Href("~/Contents/SerumGeneral.jpg")');">
    <div style="padding: 40px 60px 0 410px;">
        <h1>葡萄籽活氧<span style="color: #60BB25;">抗痘</span>精华</h1>
        <h2>去除皮肤多余的油脂, 加速皮肤细胞代谢与循环功能, 通过消炎, 抑菌以及平衡肌肤酸碱度, 迅速补充肌肤所需的水份与养份.</h2>
        @*<a class="bellevues-page-buy-button" href="@Constants.SerumFaceAcneEliminating" title="立即购买" target="_blank">立即购买</a>*@
    </div>
</div>

<a id="@ProductAnchor.EyeAntiAllergy"></a>
<div class="bellevues-page-block" style="height: 300px; background: url('@this.Href("~/Contents/SerumGeneral.jpg")');">
    <div style="padding: 40px 60px 0 410px;">
        <h1>玫瑰活氧<span style="color: #FD8C8F;">舒缓</span>精华</h1>
        <h2>蕴含丰富微量元素及瞬间锁水成分, 迅速与细胞中的蛋白质有效结合, 提高细胞中的含氧质量, 并且瞬间提升肌肤的含水量和保水度, 激发细胞再生能力, 深度舒缓神经紧张, 达到良好的放松, 减压功效.</h2>
        @*<a class="bellevues-page-buy-button" href="@Constants.SerumEyeAntiAllergy" title="立即购买" target="_blank">立即购买</a>*@
    </div>
</div>

<a id="@ProductAnchor.EyeAntiWrinkle"></a>
<div class="bellevues-page-block" style="height: 300px; background: url('@this.Href("~/Contents/SerumGeneral.jpg")');">
    <div style="padding: 40px 60px 0 410px;">
        <h1>玫瑰活氧<span style="color: #83D0FE;">抗皱</span>精华</h1>
        <h2>产品中的高山火绒草精华成分蕴含丰富的矿物质, 对肌肤具有舒缓, 镇静, 美白及滋养保护作用, 促进细胞的再生机能, 强化细胞的新陈代谢, 修复受损细胞, 淡化眼部幼纹及黑眼圈. 长期使用, 可让双眸呈现出润泽亮白的迷人光彩.</h2>
        @*<a class="bellevues-page-buy-button" href="@Constants.SerumEyeAntiWrinkle" title="立即购买" target="_blank">立即购买</a>*@
    </div>
</div>