@{
    Layout = "~/Views/Shared/Full.Layout.cshtml";
}

@section Title {
使用条款
}

<div class="bellevues-page-block bellevues-page-textblock">
    <div>
        <h1>使用条款</h1>

        <p>本节包含网络使用的有关条款. 凡浏览本网站及相关网页的用户, 均表示接受以下条款. </p>

        <h2>网站信息和资料的使用</h2>

        <p><a href="@Constants.Url" title="倍丽芙 Bellevues.com">倍丽芙(Bellevues.com)</a>只在法律允许的国家中提供本网站所述的产品及服务. 本网站所发布的资料无意提供给受法律发布限制的国家的人士或居民使用. </p>

        <p>本网站提供的产品与服务在法律不允许的国家不构成向任何人士要约邀请, 购买投资产品或其他产品服务的邀请. 本网站的信息及资料不应视为专业人士意见. 使用本网站的用户应在有需要时寻求专业人士建议. </p>

        <h2>版权和商标</h2>

        <p><a href="@Constants.Url" title="倍丽芙 Bellevues.com">倍丽芙(Bellevues.com)</a>对本网站中所示的商标, 标志及服务标志拥有所有权. 未经<a href="@Constants.Url" title="倍丽芙 Bellevues.com">倍丽芙(Bellevues.com)</a>的书面批准, 任何人不得使用. 本网站所刊登的资料受版权保护. 未经<a href="@Constants.Url" title="倍丽芙 Bellevues.com">倍丽芙(Bellevues.com)</a>书面同意, 该资料任何部分均不得修改, 复制, 储存于检索系统, 传送, 抄袭, 分发, 或用于任何商业或公开用途. </p>

        <h2>保证</h2>

        <p><a href="@Constants.Url" title="倍丽芙 Bellevues.com">倍丽芙(Bellevues.com)</a>并不就以下事项作出声明或保证：本网站可供使用并符合阁下的要求；或使用本网站时不会中断, 出现延误, 故障, 错误或遗漏或丢失传送的资料；或不会传播病毒或其他污染或毁灭性的产物；或阁下的电脑系统不会受损害. 阁下须负全责为数据和/或设备作充分保护和备份, 并负全责采取合理而适当的预防措施以扫描电脑病毒或其他毁灭性产物. <a href="@Constants.Url" title="倍丽芙 Bellevues.com">倍丽芙(Bellevues.com)</a>在编制本网站所载信息和资料时已力求审慎. 但<a href="@Constants.Url" title="倍丽芙 Bellevues.com">倍丽芙(Bellevues.com)</a>只能按目前现状提供有关信息, 并不作任何明示或暗示的保证. 尤其是不作不侵犯版权, 资料保密, 准确性, 合适性或不含计算机病毒等担保. </p>

        <h2>电子邮件</h2>

        <p>通过互联网传送至<a href="@Constants.Url" title="倍丽芙 Bellevues.com">倍丽芙(Bellevues.com)</a>的电子邮件无法保证绝对的安全. 如用户通过互联网发送的信息, 或要求以电子邮件方式回复, <a href="@Constants.Url" title="倍丽芙 Bellevues.com">倍丽芙(Bellevues.com)</a>不对由此所造成的任何损失负责. <a href="@Constants.Url" title="倍丽芙 Bellevues.com">倍丽芙(Bellevues.com)</a>不承担任何因使用本网站所产生的直接, 间接, 个别或连带的损失. </p>

        <h2>互联网传输</h2>

        <p>互联网传输可能会受到干扰, 中断, 延迟或数据错误, <a href="@Constants.Url" title="倍丽芙 Bellevues.com">倍丽芙(Bellevues.com)</a>对于非所能控制的通讯设施故障可能引致的数据及交易之准确性或及时性不负任何责任. </p>

        <h2>下载软件</h2>

        <p><a href="@Constants.Url" title="倍丽芙 Bellevues.com">倍丽芙(Bellevues.com)</a>不为于本网站使用的任何第三方软件的准确性, 安全性, 功能或性能作任何声明或保证. </p>

        <p>重要事项：阁下进入本网址及浏览其任何网页, 即表示阁下同意遵守上述条款. 谢谢选择<a href="@Constants.Url" title="倍丽芙 Bellevues.com">倍丽芙(Bellevues.com)</a>. </p>
    </div>
</div>
