@{
    Layout = "~/Views/Shared/Full.Layout.cshtml";
}

@section Title {
源自瑞士的纯净天然
}

@section NavigationFeatures{
selected
}

<div class="bellevues-page-block" style="background: url('@this.Href("~/Contents/FeaturesOverview.jpg")');">
    <div style="padding: 145px 500px 0 50px;">
        <h1>倍丽芙: 美丽的风景</h1>
        <h2>Belle vues: Beautiful views</h2>
        <h1>&nbsp;</h1>
        <h1>源自瑞士的纯净天然</h1>
        <h2>倍丽芙精选瑞士Mibelle<span class="sup">&reg;</span> PhytoCellTec&trade;阿尔卑斯野玫瑰精纯因子, GSP-T&trade;葡萄籽提取精华, 阿尔卑斯山矿物质水, 弗鲁蒂根鲟鱼子酱萃取物, 高山火绒草等纯净天然成分, 对您的肌肤由表及里, 层层滋润, 使您的肌肤焕发自然的晶莹, 让您成为所有人眼中美丽的风景.</h2>
    </div>
</div>

<div class="bellevues-page-block" style="background: url('@this.Href("~/Contents/FeaturesRose.jpg")');">
    <div style="padding: 160px 50px 0 420px;">
        <h1>PhytoCellTec&trade;阿尔卑斯野玫瑰精纯因子</h1>
        <h2>倍丽芙所采用的瑞士Mibelle<span class="sup">&reg;</span> PhytoCellTec&trade;精纯因子来自阿尔卑斯山独有的野玫瑰. 这种野玫瑰生长在海拔1500-2800米, 是阿尔卑斯山不可人工种植的稀有植物, 其独特的细胞液成分可抵御极端的气候变化.</h2>
        <h2>采用植物干细胞萃取技术提取出的PCT精纯因子可以最大程度的保留阿尔卑斯野玫瑰原有功效, 包括提升细胞的存活率和对紫外线的耐受度, 更新表皮, 使之细嫩柔滑, 皙白透亮. 同时对皮肤有非常好的保湿, 增加皮肤弹性, 防止皮肤蛋白氧化.</h2>
    </div>
</div>

<div class="bellevues-page-block" style="background: url('@this.Href("~/Contents/FeaturesGrapeSeed.jpg")');">
    <div style="padding: 100px 540px 0 40px;">
        <h1>GSP-T&trade;葡萄籽提取精华</h1>
        <h2>从瑞士天然葡萄籽中提取的Mibelle<span class="sup">&reg;</span> GSP-T&trade;精华蕴含强效的抗氧化作用, 其抵御光老化及抗自由基的氧化功能是维生素C的20倍, 维生素E的50倍. 通过清除人体内有毒的自由基, 保护人体细胞组织免被自由基的氧化损伤, 防止过敏, 癌症, 衰老等多种与自由基有关的疾病. </h2>
        <h2>瑞士Mibelle<span class="sup">&reg;</span> GSP-T&trade;葡萄籽精华还能恢复胶原蛋白活力, 平衡油脂分泌, 使皮肤平滑而有弹性. 葡萄籽亦含有天然的阳光遮盖物, 能够阻止紫外线侵害皮肤.</h2>
    </div>
</div>

<div class="bellevues-page-block" style="background: url('@this.Href("~/Contents/FeaturesWater.jpg")');">
    <div style="padding: 10px 645px 0 0; text-align: right;">
        <h1>阿尔卑斯山矿物质水</h1>
    </div>
    <div style="padding: 0 80px 0 335px;">
        <h2>倍丽芙的基底水是取自瑞士阿尔卑斯山的矿物质水, 为您的肌肤提供美丽的有效保障.</h2>
        <h2>阿尔卑斯山矿物质水源于阿尔卑斯山原始峰的雨水或雪水, 经过山上丰富的矿物含水层的过滤而成, 天然纯净蕴含27种活性矿物元素, 持续使用可以增加皮肤弹性, 补充并锁住水分, 令肌肤水疗于滋润, 愉悦的感受中, 如同SPA一般.</h2>
    </div>
</div>

<div class="bellevues-page-block" style="background: url('@this.Href("~/Contents/FeaturesFishEgg.jpg")');">
    <div style="padding: 270px 90px 0 460px;">
        <h1>弗鲁蒂根鲟鱼子酱萃取物</h1>
        <h2>倍丽芙精选的鲟鱼子酱来自世界著名的鲟鱼饲养点, 瑞士弗鲁蒂根地区以温泉饲养的鲟鱼.</h2>
        <h2>倍丽芙产品中所含的鲟鱼子酱萃取物用于养颜护肤, 抑制皮肤衰老, 防止色素沉着, 驱除因皮肤过敏或是感染而引起的皮肤干燥和瘙痒等皮肤损害, 使皮肤自然红润, 并且有自然光泽.</h2>
    </div>
</div>

<div class="bellevues-page-block" style="background: url('@this.Href("~/Contents/FeaturesEdelweiss.jpg")');">
    <div style="padding: 380px 0 0 0; display: inline-block; text-align: center; width: 420px;">
        <h1>瑞士高山火绒草</h1>
    </div>
    <div style="padding: 80px 0 0 50px; display: inline-block; width: 450px;">
        <h2>高山火绒草是瑞士国花, 具高度的自御能力, 能抵抗恶劣的天气及其他生长环境. 其精华成分蕴含丰富的矿物质, 对肌肤具舒缓, 镇静, 美白及滋养保护作用. 是瑞士女性的天然美容圣品.</h2>
        <h2>倍丽芙萃取高山火绒草之精华成份予以应用, 能有效舒缓, 镇静肌肤, 排出皮肤内有害物质, 有极佳的美白, 补水, 保湿及抗皱效果, 可给予肌肤周到的滋养呵护, 让肌肤长期保持莹白娇嫩, 让使用倍丽芙的您随时展现一种典雅高贵的迷人气质. 高山火绒草的天然美白成分及芳香精华, 能够温和而深层清洁皮肤, 去除表皮的油脂及毛孔内污质, 同时舒缓皮肤紧张状态, 柔和不紧绷. 天然成分还能渗入肌肤, 帮助分解代谢杂质, 防止色素沉着, 使肌肤柔滑细致, 白皙光泽.</h2>
    </div>
</div>
