@{
    Layout = "~/Views/Shared/Full.Layout.cshtml";
}

@section Title {
客户隐私政策
}

<div class="bellevues-page-block bellevues-page-textblock">
    <div>
        <h1>客户隐私政策</h1>

        <p><a href="@Constants.Url" title="倍丽芙 Bellevues.com">倍丽芙(Bellevues.com)</a>理解, 您通过网络向我们提供信息是建立在您对我们信任的基础上. 我们非常认真地对待您的信任, 并且将确保将您提供给我们的个人信息的安全性和保密性作为重点. 在您将个人信息提供给我们网站之前, 请您仔细阅读本隐私政策以了解我们的隐私政策和保密措施. 在访问<a href="@Constants.Url" title="倍丽芙 Bellevues.com">倍丽芙(Bellevues.com)</a>的同时, 您确认了解并接受在此介绍的保密措施.  </p>

        <h2>概述</h2>

        <p>我们将接收, 并且储存您在我们网站上键入或者以任何其他方式提供给我们的所有信息. 您可以选择不向我们提供信息, 但是, 概括而言, 为了您能够以注册用户的身份享用我们提供的便利, 您需要提供某些信息.  </p>

        <h2>Cookies和其他浏览器技术</h2>

        <p>当您访问<a href="@Constants.Url" title="倍丽芙 Bellevues.com">倍丽芙(Bellevues.com)</a>时, 我们将会向您的电脑分配一个cookie文本文件(一个小型的, 唯一识别的文本文件). 此外, 如果您在我们的网站上注册, 我们将可能储存您电脑cookie文件夹中的所有或者部分信息. 请您注意, 出于安全性的考虑, 所有储存在cookies文件中的会员身份信息, 密码以及其他与会员账号有关的信息都经过加密处理. 我们也可能使用网页信标(也称作clear gifs, pixel tags 或者Web bugs)来发送cookies文件或者与之进行信息互通, 计算访问我们网站某些网页的用户人数, 并且了解用户是否经由第三方网站的网络广告而访问我们网站.  </p>

        <p>除非您使用浏览器或操作系统软件手工将其删除, 否则, Cookie文件将永久的保存在您的电脑硬盘上. 您也可以选择“不使用Cookie”或“在使用Cookie时事先通知我”的选项禁止Cookie的产生, 但是您将为此无法使用一些<a href="@Constants.Url" title="倍丽芙 Bellevues.com">倍丽芙(Bellevues.com)</a>的查询和服务.  </p>

        <p>Cookie文件也可能会由<a href="@Constants.Url" title="倍丽芙 Bellevues.com">倍丽芙(Bellevues.com)</a>的第三方合作伙伴放置到您的计算机上. 这些公司可能会根据您访问相关网站的统计信息为您显示您可能感兴趣的旅游产品或广告信息. 这些统计信息并不包括您的个人信息. 他们也可能通过这种方式来评估广告的有效度, 通常这是通过一种叫做Web beacon(1 pixel Gif图)的技术来实现的, 他们可能通过这种技术来统计匿名访问的数据, 并根据统计结果显示您可能感兴趣的旅游产品或广告信息, 同样, 这些统计信息并不包括您的个人信息.  </p>

        <h2>我们如何使用您的信息</h2>

        <p>一般而言, <a href="@Constants.Url" title="倍丽芙 Bellevues.com">倍丽芙(Bellevues.com)</a>将把收集到的有关您的信息用于以下目的：为您提供您所希望获得的产品和服务, 与您进行交流, 包括提供有关<a href="@Constants.Url" title="倍丽芙 Bellevues.com">倍丽芙(Bellevues.com)</a>的信息; 回答您的提问与意见; 考量我们的产品, 服务与网站是否有吸引力并加以提高; 防止潜在的违法或遭禁止的行为; 实施我们的服务条款; 以及在向您收集信息时向您指明的其它目的. </p>

        <h2>您如何控制您的信息</h2>

        <p>提请您注意, 您可以选择不向我们提供任何信息. </p>

        <p>请您注意, 我们保留无需您同意而发送给您其他信息的权利, 这些信息包括服务说明, 管理信息以及调查信息等. </p>

        <h2>我们如何保护您的信息</h2>

        <p>我们希望您使用<a href="@Constants.Url" title="倍丽芙 Bellevues.com">倍丽芙(Bellevues.com)</a>时能感到放心, 并且我们致力于保护信息. 我们已经采取了合适的管理, 技术以及有形措施以保护您提供给我们的个人信息. 我们也设置了防火墙以及入侵侦查系统以防止未经授权的人员获取您的信息. </p>

        <h2>本隐私政策的修改</h2>

        <p>隐私政策的修改权, 更新权均属<a href="@Constants.Url" title="倍丽芙 Bellevues.com">倍丽芙(Bellevues.com)</a>. <a href="@Constants.Url" title="倍丽芙 Bellevues.com">倍丽芙(Bellevues.com)</a>可能在将来更新, 修改本隐私政策. </p>


    </div>
</div>
